:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #2c2d2d;
}

#app {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main {
    width: 92vw;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 0 4vw;
}

main.dir-main {
    column-count: 2;
    column-width: auto;
    column-gap: 2rem;
    font-size: clamp(0.7rem, 1.0vw + 0.28rem, 1.5rem);
}

header {
  padding: 0 2rem;
}

header h1, header h2 {
  width: 100%;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  font-size: clamp(1.15rem, 2.25vw + 0.5rem, 2.5rem);
}

h2 {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.75rem);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  padding: 2.5vh 0;
}

footer svg {
  height: 100%;
}

button {
  background: transparent;
  border: 2px white solid;
  padding: clamp(10px, 2vw, 20px);
  font-size: clamp(0.7rem, 1.0vw + 0.4rem, 1.2rem);
  color: white;
  cursor: pointer;
  font-weight: 800;
}

#nearest td.nearest-td {
  text-align: left;
}

.map-background svg {
    height: 100%;
    width: auto;
}

.map-background {
    width: auto;
}

.map-container h2 {
  text-align: center;
}

.map {
  height: 44vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.map-background {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.map-container {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 100%;
}

.options-container {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1400px;
}

.take-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

.take-photo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.take-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  max-width: 275px;
  height: 100%;
}

#take-photo-svg {
  height: 100%;
  transform: rotate(-5deg);
  animation: pulse 1s linear 0s infinite alternate;
}

.change-transport-method, .start-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vw;
  max-width: 275px;
}

.kiosk {
    transform-box: fill-box;
    opacity: 0;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alpha-container {
    width: 100%;
    padding-bottom: 1rem;
}

.table-cell:last-child {
    text-align: right;
    width: 22%;
}

.table-cell:first-child {
    text-align: left;
    width: 72%;
}

.table-cell {
    text-align: center;
    padding: 0.6rem 0;
}

.table-row.table-heading {
    border-bottom: 3px solid white;
    font-weight: 900;
}

.table-row {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
    break-inside: avoid;
}

.floor-container {
    break-inside: avoid;
    padding-top: 2rem;
}

.floor-heading,
.alpha-heading {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}

.alpha-heading {
    column-span: all;
    margin-top: 2rem;
}

.alpha-table-head {
    column-span: all;
    display: flex;
    justify-content: space-between;
}

.alpha-table-head .table-row.table-heading:first-child {
    margin-left: 0rem;
}

.alpha-table-head .table-row.table-heading:last-child {
    margin-right: 0rem;
}

.alpha-table-head .table-row.table-heading {
    margin: 0 1rem;
}

.blank-heading:after {
    content: " ";
    font-size: 0;
    white-space: pre;
}

.button-container,
.start-over {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.map:nth-child(2) {
    opacity: 0;
}

#tap-container {
    width: 100px;
    position: absolute;
    transform-origin: center center;
    left: -100px;
}

#tap-container svg,
#tap {
    width: 100%;
    transform-origin: center center;
}

/* Animations */

@keyframes pulse {
    to {
        transform: scale(1.2)
    }
}

/* Media Queries */

@media only screen and (max-width: 736px) {
    .floor-container {
        min-width: 275px;
    }

    main.dir-main {
        column-count: 1;
        column-width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        column-gap: 2rem;
    }

    .options-container div.take-photo-container {
      display: none;
    }
}

@media only screen and (min-width: 1305px) {
    main.dir-main {
        column-count: auto;
        column-width: 30rem;
        overflow-y: scroll;
        overflow-x: hidden;
        column-gap: 2rem;
    }
}

@media only screen and (max-width: 455px) {
  #tap-container {
    display: none;
  }
}